<tr>
    <td>
        <a href=<%= project_scenario_path(scenario.project_id, scenario.id) %>>
            <%= scenario.id %>
        </a>
    </td>
    <td>
        <%= scenario.project.title %>
    </td>
    <td>
        <%= scenario.name %>
    </td>
    <td>
        <%= scenario.irr.try(:round, 2) %>
    </td>
</tr>