<tr>
    <td>
        <% if project.scenario_id.present? %>
            <a href=<%= project_scenario_path(project.id, project.scenario_id) %>>
                <%= project.scenario_id %>
            </a>
        <% end %>
    </td>
    <td>
        <a href=<%= project_path(project.id) %>>
            <%= project.title %>
        </a>
    </td>
    <td>
        <%= project.scenario_name %>
    </td>
    <td>
        <%= project.irr.try(:round, 2) %>
    </td>
</tr>