<%= form_for :project, url: project_path(@project.id), method: :patch do |f| %>
    <%= f.label :title %>
    <br>
    <%= f.text_field :title, value: @project.title, size: "20", maxlength: @input.project_name.max %>
    <br>
    <%= f.label :description %>
    <br>
    <%= f.text_area :description, value: @project.description, size: "100", maxlength: @input.project_description.max %>
    <br>
    <%= f.submit 'Confirm' %>
<% end %>

<a href=<%= project_path(@project.id) %>>Back</a>