<div class="row m-0">
    <div class="col-sm-6">
        <h1>Project</h1>
    </div>
</div>

<%= render partial: 'project', locals: {project: @project} %>

<%= form_for :project, url: edit_project_path(@project.id), method: :get do |f| %>
    <div class="form-row">
        <div class="form-group col-sm-2">
            <%= f.submit 'Edit project', class: 'btn btn-primary form-control' %>
        </div>
    </div>
<% end %>

<%= form_for :project, url: project_path(@project.id), method: :delete do |f| %>
    <div class="form-row">
        <div class="form-group col-sm-2">
            <%= f.submit 'Delete project',class: 'btn btn-danger form-control', data: { confirm: 'Are you sure?'} %>
        </div>
    </div>
<% end %>

<%= link_to 'New scenario', new_project_scenario_path(@project.id), class: 'ml-4' %>

<table class="table ml-2">
    <thead>
        <tr>
            <th>Id</th>
            <th>Scenario name</th>
            <th>Buying price</th>
            <th>Selling price</th>
            <th>Interest</th>
            <th>Tenure</th>
            <th>Holding period</th>
            <th>Irr</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <%= render partial: 'scenarios/scenario_summary', collection: @scenarios,
                   as: :scenario %>
    </tbody>

</table>