<%= form_for :scenario, url: create_scenario_path, method: :post, remote: true do |f| %>
    <%= f.label :deposit, 'Deposit %' %>
    <br>
    <%= f.number_field :deposit, value: input.deposit.base, min: input.deposit.min, max: input.deposit.max %>
    <br>
    <%= f.label :buying_price, "Total buying price (unit in '000)" %>
    <br>
    <%= f.number_field :buying_price, value: input.buying_price.base,
                       min: input.buying_price.min, max: input.buying_price.max %>
    <br>
    <%= f.label :interest, 'Interest %' %>
    <br>
    <%= f.number_field :interest, value: input.interest.base,
                       min: input.interest.min, max: input.interest.max %>
    <br>
    <%= f.label :tenure, 'Tenure (yrs)' %>
    <br>
    <%= f.range_field :tenure, type: 'range', id:'tenureInput', min: input.tenure.min, max: input.tenure.max,
                      value: input.tenure.base, step: 1, oninput: "tenureOutput.value = tenureInput.value" %>
    <br>
    <output id="tenureOutput">30</output>
    <br>
    <%= f.label :selling_price, "Selling price (unit in '000)" %>
    <br>
    <%= f.number_field :selling_price, value: input.selling_price.base,
                       min: input.selling_price.min, max: input.selling_price.max %>
    <br>
    <%= f.label :holding_period, "Holding period (yr)" %>
    <br>
    <%= f.range_field :holding_period, type: 'range', id:'holdingPeriodInput', min: input.holding_period.min,
                      max: input.holding_period.max, value: input.holding_period.base, step: 1,
                      oninput: "holdingPeriodOutput.value = holdingPeriodInput.value" %>
    <br>
    <output id="holdingPeriodOutput"><%= input.holding_period.base %></output>
    <p>Irr %</p>
    <% if @scenario.present? %>
    <p id="output-irr"><%= @scenario.irr.round(2) %></p>
    <% else %>
    <p id="output-irr">-</p>
    <% end %>
    <%= f.submit "Submit" %>
<% end %>