<%= form_for :scenario, url: create_projects_scenario_path(@project.id), method: :post, remote: true do |f| %>
    <%= f.label :name %>
    <br>
    <%= f.text_field :name, maxlength: @input.scenario_name.max %>
    <br>
    <%= render partial: 'form_scenario', locals: {input: @input, f: f} %>
    <%= f.submit "Calculate" %>
    <%= f.submit "Save" %>
<% end %>

<a href=<%= project_path(@project.id) %>>Back</a>
